.imgWrapper{
  width: 100px;
  height: 100px;
  display: flex;
  margin: 0 10px;
  overflow: hidden;
  padding: 0;
  border-radius: 50%;
  border: aquamarine solid 3px;
  cursor: pointer;

  .imgSecondWrapper{
    border: 2px solid blue;
    border-radius: 50%;
    width: 96px;
    height: 96px;
    .cityIcon{
      border-radius: 50%;
      width: 96px;
      height: 96px;
      transition-duration: 0.5s;
      &:before{
        background-color: #1d262d;
        width: 100px;
        height: 100px;
      }
      &:hover{
        transform: scale(1.1);
      }
    }
  }
}

