.page{
  //height: 100%;
  padding: 0 1em;
}

.title{
  margin: 1em 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.leftColumn{
  width: min-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: left;

  .hotelName{

    margin: 0.5em 0;
  }
  .hotelAddress{
    white-space: nowrap;
    font-size: 1em;
  }
}

.rightColumn{
  width: min-content;
  display: flex;
  flex-direction: row;

  .ratingWrapper{
    width: min-content;
    padding:0.5em;
    border-radius: 0.7em;
    color: #faf4f4;
    background-color: #2c47f4;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    align-items: center;

    .rating{
      width: min-content;
      padding: 0.5em 0.5em 0.3em 0.5em;
      border-radius: 10px;
      font-weight: 900;
      margin-right: 0.5em;
    }
  }

}

