.topCitiesWrapper {
  color: white;
  width: 100%;
  height: 161px;
  background: linear-gradient(#2c47f4, #2ca7f4);
  display: flex;
  align-items: center;
  justify-content: center;

  .cities{
    background-color: unset;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}