.searchWrapper{
  z-index: 2;
  width: 100%;
  height: 44px;
  background-color: #2C47F4FF;
  margin: 0 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
}

.searchForm{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  border: 1px solid grey;
  border-radius: 3px;
  background-color: white;
  //overflow: hidden;
}

.datePickerWrapper{
  width: min-content;
  border-right: 1px dashed grey;
  height: 44px;
}



