.searchWrapper{
  height: 50px;
  background-color: #2C47F4FF;
  margin: 0 0;
  display: flex;
  flex-direction: row;
  justify-items: center;
}
.datePickerWrapper{
  width: auto;
}
.datePickerInput{
  background-color: blue;
  border: 2px blue;
  margin: 0;
}

.searchForm{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}