.navBar{
  padding: 1em;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.rightItems{
  right: 0;
}
.leftItems{
  left: 0;
}

.navLink{
  color: #faf4f4;
  text-decoration: none;
  padding: 0.7em 1em;
  border: 2px solid transparent;
  transition: all 150ms;
  border-radius: 0.5em;
  margin: 0 3px;

  &:hover{
    box-sizing: border-box;
    color: #faf4f4;
    border: 2px solid #faf4f4;

  }
}
.active{
  border: 2px solid aquamarine;
  cursor: default;

  &:hover{
    box-sizing: border-box;
    color: #faf4f4;
    border: 2px solid aquamarine;
  }
}