.hotelCard{
  width: fit-content;
  height: auto;
  display: flex;
  margin-bottom: 15px;
  overflow: hidden;
  border: 1px solid grey;
  border-radius: 10px;
  position: relative;

  transition: box-shadow 0.1s ease-in;

  &:hover{
    box-shadow: 0 0 53px -9px rgba(44, 167, 244, 0.50);
    .hotelRating{
      //transform: rotate(4deg) translate(3px, 3px);
      background-color: rgba(44, 167, 244, 0.50);
      color: #001250;
    }
  }

  .hotelIcon{
    height: 100px;
    width: 100px;
    overflow: hidden;
    position: relative;
    display: flex;

    .cityImg{
      z-index: 1;
      height: 100%;
      width: 100px;
      object-fit: cover;
    }
  }

  .hotelInfo{
    width: 370px;
    margin-left: 10px;
    margin-right: 10px;
      table{
        text-align: left;
      }
  }

  .hotelRating{
    width: 80px;
    border-left: 1px dashed #1d262d;
    color: #1d262d;
    transition: all 0.1s;
  }

  .hotelLink{
    position: absolute;
    top: 0;
    left:0;
    right:0;
    bottom: 0;
  }
}
