.btnWrapper{
  height: 44px;
  width: 150px;
}

.btn{
  background-color: #2ca7f4;
  transition-duration: 0.2s;
  width: 100%;
  height: 100%;

  line-height: 44px;
  font-size: 16px;
  border:none;
  color: white;
  cursor: pointer;
  &:hover{
    background-color: #4CAF50;
  }
}